/* Team 2-5 */

.user-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  bottom: 24px;
  left: 220px;
  transition: all 400ms;
  opacity: 0;
  transform: translate(0px, -24px);
}

.user-1-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.line-1 {
  height: 10px;
  width: 280px;
  border-radius: 100px;
  background: rgba(9, 18, 42, 0.04);
}

.line-2 {
  height: 10px;
  width: 140px;
  border-radius: 100px;
  background: rgba(9, 18, 42, 0.04);
}

.cursor-1 {
  position: absolute;
  padding-bottom: 12px;
  left: 148px;
  bottom: -2px;
  border-left: 2px solid #ffde69;
  border-radius: 6px 6px 6px 0px;
  overflow: hidden;
}

.name-1 {
  padding: 6px 6px 6px 4px;
  background-color: #ffde69;
  border-radius: 0px 6px 6px 0px;
  margin: 0px;
  font-family: "Inter";
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

/* Team 6-10 */

.user-2 {
  position: absolute;
  height: 186px;
  width: 400px;
  border-radius: 12px;
  bottom: -160px;
  left: 80px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 40px 80px 0px rgba(20, 23, 31, 0.04);
  transition: all 700ms;
  transform: translate(0px, -160px);
  opacity: 0;
}

.user-2-show {
  transform: translate(0, 0px);
  opacity: 1;
}

.cursor-2 {
  position: absolute;
  padding-bottom: 12px;
  left: 128px;
  bottom: 58px;
  border-left: 2px solid #00ffc2;
  border-radius: 6px 6px 6px 0px;
  overflow: hidden;
}

.name-2 {
  padding: 6px 6px 6px 4px;
  background-color: #00ffc2;
  border-radius: 0px 6px 6px 0px;
  margin: 0px;
  font-family: "Inter";
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

/* Team 10+ */

.user-3 {
    position: absolute;
    height: 227px;
    width: 400px;
    border-radius: 12px;
    top: -120px;
    right: -40px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 40px 80px 0px rgba(20, 23, 31, 0.08);
    transform: translate(-40px, 120px);
    opacity: 0;
    transition: all 1000ms;
  }
  
  .user-3-show {
    transform: translate(0, 0px);
    opacity: 1;
  }
  
  .cursor-3 {
    position: absolute;
    padding-bottom: 12px;
    left: 188px;
    top: 50px;
    border-left: 2px solid #0F62FE;
    border-radius: 6px 6px 6px 0px;
    overflow: hidden;
  }
  
  .name-3 {
    padding: 6px 6px 6px 4px;
    background-color: #0F62FE;
    border-radius: 0px 6px 6px 0px;
    margin: 0px;
    font-family: "Inter";
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    color: white;
  }
