.avatars-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  gap: 4px;
  margin: 8px 4px;
  font-family: "Inter";
  line-height: 12px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  transition: all 400ms;
}

.avatar {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f;
  border-radius: inherit;
  display: none;
}

.avatar-tooltip {
  position: absolute;
  white-space: nowrap;
  top: 28px;
  padding: 8px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  box-shadow: 0px 20px 40px 0px rgba(20, 23, 31, 0.2);
  background: rgba(9, 18, 42, 0.90);
  transition: 400ms;
  opacity: 0;
  transform: translate(0px, -12px);
}

.avatar-tooltip-you {
  margin: 0px;
  font-weight: 400;
}

.avatar-tooltip-role {
  opacity: 0.6;
  margin: 0px;
  font-weight: 400;
  display: none;
}

.avatar-tooltip-transition {
  opacity: 1;
  transform: translate(0px, 0px);
}

/* Other Avatars */

#avatars-team {
  width: 0px;
  display: flex;
  gap: 4px;
  border-radius: 4px;
  overflow: hidden;
  transition: all 400ms;
}

.avatar-2 {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDE69;
  color: black;
  border-radius: inherit;
}

.avatar-3 {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00FFC2;
  color: black;
  border-radius: inherit;
}

.avatar-4 {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEEF3;
  border-radius: inherit;
  color: #7F8694;
}